{% extends "task/task_base.html" %}

{% block content %}

    <p class="lead">
        id: {{ object.id }}
        <br>
        code: {{ object }}
        <br>
        name: {{ object.name }}
        <br>
        description {{ object.description }}
    </p>

    <a class="btn btn-success" href="{% url 'task_update' object.id %}" role="button">Edit</a>
    <form method="post" action="{% url 'task_delete' object.id %}"> {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-success">
    </form>
{% endblock %}